html, body{
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    height:100%;
    font-family: Garamond, serif;
}

.label, .radio, .card{
    color:hsl(217, 71%, 53%);		
}

img {
    align-self: center;
}

a {
    width: 5em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.no-flex {
    display: block;
}

.buttons {
    align-items: center;
    width: 100%;
}

.btns  {
    display: flex;
    justify-content: space-between;
}
#favorites{
    background-color:rgb(138, 184, 243);
    color: black;
    float: right;
    font-family: garamond,serif;
}

#favorites:hover{
    background-color: #D9AFD9;
}

.container {
    overflow: hidden;
}

.logo {
    width: 60px;
}

.reload {
    color: rgba(63, 136, 219, 0.685);
}

.title {
    color: rgba(63, 136, 219, 0.685);
    font-size: 3rem;
    word-break: keep-all;
}

.subtitle {
    font-weight: bold;
    font-size: 1rem;
    color:rgba(63, 136, 219, 0.685);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fact {
    margin-top: 2em;
    color:rgba(63, 136, 219, 0.685);
    font-family: garamond,serif;
}

.fact:hover {
    font-weight: bold;
}

.footer {
    background-color: rgba(0,0,0,0);
    color:hsl(217, 71%, 53%);
    margin-top: 6rem;
    padding: 0;		
} 

.pet-pictures {
    display: flex;
    justify-content: center;
}

/* favorites page styling */
#back {
    background-color:rgba(63, 136, 219, 0.685);
    color: black;
    position: relative;
    margin-left: 0;
    border: 0;
    font-family: garamond,serif;
}
#back:hover {
    background-color: #D9AFD9;
}

.title-faves {
    margin-left: 27%;
}

.name{
    color:#D9AFD9;
    font-weight: bold;
    font-size: 2em;
}

.card {
    width: 18em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

.border{
    border: 3px dashed rgba(63, 136, 219, 0.685);
}

.adopt-btn {
    border: 3px dashed rgba(63, 136, 219, 0.685);
    background-color: rgba(255, 105, 180, 0.308);
    color: rgba(63, 136, 219, 0.685);
    font-weight: bold;
}

.adopt-btn:hover { 
    text-decoration: none; 
    font-style: italic;
    border: 3px dashed rgba(63, 136, 219, 0.685);
    background-color: rgba(63, 136, 219, 0.685);
    color: white;
    font-weight: normal;
}

.card-header {
    font-weight: bold;
}

.img-size {
    width: 282px;
    height: 282px;
}

.columns {
    margin:0!important;
    width: 100%;
}
